.cl-content-root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  min-height: 100%;
  transition: all var(--cl-transition-duration);

  .cl-content__body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .cl-content__left,
  .cl-content__footer {
    flex: 0 0 auto;
  }
  .cl-content__main {
    flex: 1;
  }
}

.cl-header-root--fixed + .cl-content__body {
  margin-top: calc( var(--cl-header-height) + var(--cl-content-gap-y) );
}
