.charrue-content {
  height: calc(100vh - var(--charrue-header-height, $charrue-header-height));
  width: 100%;
  position: relative;
  margin-top: var(--charrue-header-height, $charrue-header-height);
  overflow: auto;
  box-sizing: border-box;

  &-header,
  &-footer {
    flex: 0 0 auto;
  }
  &-body {
    flex: 1;
  }
}
