.cl-header-root {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  height: var(--cl-header-height);
  background: var(--cl-header-bg);
  color: var(--cl-header-text-color);
  box-shadow: var(--cl-header-shadow);

  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--cl-fixed-header-z-index);
    transition: width var(--cl-duration);
  }

  > .cl-header-body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .cl-header__left,
    .cl-header__right {
      display: flex;
      align-items: center;
      padding-left: 24px;
      padding-right: 24px;
      height: 100%;
    }

    .cl-collapse-trigger {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: var(--cl-collapse-trigger-height);
      line-height: var(--cl-collapse-trigger-height);
      padding: var(--cl-collapse-trigger-padding);
      transition: background var(--cl-duration);
      -webkit-tap-highlight-color: transparent;

      &:hover {
        background: var(--cl-collapse-trigger-active-bg);
      }

      &--active {
        > svg {
          transform: rotate(180deg);
        }
      }

      > svg {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        fill: var(--cl-header-text-color);
      }
    }
  }
}
