.cl-sidebar-root {
  --cl-sidebar-margin: 0 0 8px 0;

  .cl-sidebar-placeholder {
    transition: all var(--cl-duration);
  }

  .cl-sidebar-body {
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: all var(--cl-duration);
    background: var(--cl-sidebar-bg);
    z-index: var(--cl-sidebar-z-index);
    box-shadow: var(--cl-sidebar-shadow);

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   right: 0;
    //   height: 100%;
    //   width: 1px;
    //   background: var(--cl-sidebar-border-color);
    // }

    &.collapse {
      overflow: hidden;
    }

    > .cl-sidebar__logo-container {
      position: relative;
      height: var(--cl-header-height);
      line-height: var(--cl-header-height);
      padding: var(--cl-login-padding);
      transition: all var(--cl-duration);
      background: var(--cl-sidebar-bg);
      overflow: hidden;
      img {
        display: inline-block;
        vertical-align: middle;
        height: var(--cl-login-height);
        width: var(--cl-login-height);
        line-height: var(--cl-login-height);
      }
      h1 {
        color: var(--cl-title-color);
        display: inline-block;
        vertical-align: middle;
        font-size: var(--cl-title-font-size);
        margin: var(--cl-title-margin);
        font-weight: 600;
      }
    }

    > .cl-sidebar-menu-root {
      flex: 1;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .cl-sidebar__menu-title {
    margin: var(--cl-sidebar-margin);
  }

  .el-menu {
    color: var(--cl-sidebar-text-color);
    background-color: var(--cl-sidebar-bg);
    --el-menu-text-color: var(--cl-sidebar-text-color);
    --el-menu-bg-color: var(--cl-sidebar-bg);

    border-right: 0;

    &--collapse {
      --cl-sidebar-margin: 0;

      .el-sub-menu__title,
      .el-submenu__title {
        .cl-sidebar__menu-title {
          display: none;
        }
      }
    }
  }

  .el-menu--collapse .cl-sidebar__submenu-icon-title ~ .el-sub-menu__icon-arrow,
  .el-menu--collapse .cl-sidebar__submenu-icon-title ~ .el-submenu__icon-arrow {
    display: none;
  }
}

.el-menu.el-menu--popup .cl-sidebar__menu-children {
  color: var(--cl-sidebar-text-color);
  background-color: var(--cl-sidebar-bg);
  --el-menu-text-color: var(--cl-sidebar-text-color);
  --el-menu-bg-color: var(--cl-sidebar-bg);
}

.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}

.cl-sidebar__menu-link {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  height: 100%;
  width: 100%;

  .el-menu-item {
    width: 100%;
  }
}

.cl-sidebar__menu-children {
  .el-menu-item {
    width: 100%;
    text-align: left;
    color: var(--cl-sidebar-text-color);
    --el-menu-text-color: var(--cl-sidebar-text-color);

    .cl-sidebar__menu-icon {
      margin-right: 10px;
    }

    .cl-sidebar__menu-icon,
    .el-sub-menu__icon-arrow,
    .el-submenu__icon-arrow {
      color: var(--cl-sidebar-text-color);
      --el-menu-text-color: var(--cl-sidebar-text-color);
    }
    &:hover {
      color: var(--cl-sidebar-hover-text-color);
      background-color: var(--cl-sidebar-hover-bg);
      --el-menu-hover-bg-color: var(--cl-sidebar-hover-bg);

      a,
      .cl-sidebar__menu-icon,
      .el-sub-menu__icon-arrow,
      .el-submenu__icon-arrow {
        color: var(--cl-sidebar-hover-text-color);

        text-decoration: none;
      }
    }
    a {
      color: var(--cl-sidebar-text-color);
      text-decoration: none;
      outline: none;
    }
    &.is-active {
      color: var(--cl-sidebar-active-text-color);
      background: var(--cl-sidebar-active-bg);

      a,
      .cl-sidebar__menu-icon,
      .el-sub-menu__icon-arrow,
      .el-submenu__icon-arrow {
        color: var(--cl-sidebar-active-text-color);
      }
    }
  }

  .el-sub-menu,
  .el-submenu {
    &__title {
      text-align: left;
      color: var(--cl-sidebar-submenu-text-color);

      .cl-sidebar__menu-icon {
        color: var(--cl-sidebar-submenu-text-color);
      }
      &:hover {
        color: var(--cl-sidebar-submenu-hover-text-color);
        background-color: var(--cl-sidebar-submenu-hover-bg);
        --el-menu-hover-bg-color: var(--cl-sidebar-submenu-hover-bg);

        .cl-sidebar__menu-icon,
        .el-sub-menu__icon-arrow,
        .el-submenu__icon-arrow {
          color: var(--cl-sidebar-submenu-hover-text-color);
        }
      }

      &__icon-arrow {
        margin-top: -4px;
      }
    }

    &.is-active {
      background-color: var(--cl-sidebar-submenu-active-bg);
      color: var(--cl-sidebar-submenu-active-text-color);

      .el-menu {
        color: var(--cl-sidebar-submenu-active-text-color);
        background-color: var(--cl-sidebar-submenu-active-bg);
        --el-menu-text-color: var(--cl-sidebar-submenu-active-text-color);
        --el-menu-bg-color: var(--cl-sidebar-submenu-active-bg);
      }
    }

    .cl-sidebar__menu-icon {
      margin-right: 10px;
    }
  }
}

.el-menu--popup {
  padding: 0;
}
.cl-sidebar__submenu-popper {
  // 
}