.charrue-sidebar-root {
  .charrue-sidebar-placeholder {
    transition: all 0.3s;
  }

  // charrue-layout-sidebar-el-menu-container x

  .charrue-sidebar-inner {
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 0.28s;
    z-index: 10;
    background-color: var(--charrue-sidebar-bg-color, $charrue-sidebar-bg-color);
    transition: all 0.3s;
    overflow-x: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: var(--charrue-sidebar-border-color, $charrue-sidebar-border-color);
      z-index: 11;
    }

    &.collapse {
      overflow: hidden;
    }

    > .charrue-logo-container {
      height: 64px;
      position: relative;
      line-height: 64px;
      padding: 8px 12px;
      transition: all 0.3s;
      background-color: var(--charrue-sidebar-bg-color, $charrue-sidebar-bg-color);
      overflow: hidden;
      img {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        line-height: 32px;
      }
      h1 {
        color: var(--charrue-sidebar-text-color, $charrue-sidebar-text-color);
        display: inline-block;
        vertical-align: middle;
        font-size: var(--charrue-title-font-size, $charrue-title-font-size);
        margin: 0 0 0 16px;
        font-weight: 600;
      }
    }

    > .charrue-sidebar-menu-root {
      flex: 1;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.charrue-sidebar-root {

  .el-menu {
    @include common-menu-text-color;
    @include common-menu-bg;
    border-right: 0;

    &--collapse {
      .el-sub-menu__title,
      .el-submenu__title {
        .charrue-sidebar-menu-title {
          display: none;
          margin-left: 0;
        }
      }
    }
  }


  .el-menu--collapse .charrue-submenu-title-with-icon ~ .el-sub-menu__icon-arrow,
  .el-menu--collapse .charrue-submenu-title-with-icon ~ .el-submenu__icon-arrow {
    display: none;
  }
}

.el-menu.el-menu--popup .charrue-sidebar-menu-children {
  @include common-menu-text-color;
  @include common-menu-bg;
}

.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}

.charrue-sidebar-menu-title {
  margin-left: 8px;
}

.charrue-menu-router-link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .el-menu-item {
    width: 100%;
  }
}


.charrue-sidebar-menu-children {
  .el-menu-item {
    width: 100%;
    text-align: left;
    @include common-menu-text-color;

    .icon {
      margin-right: 10px;
    }

    .charrue-sidebar-menu-icon,
    .el-sub-menu__icon-arrow,
    .el-submenu__icon-arrow {
      @include common-menu-text-color;
    }
    &:hover {
      @include menu-hover-text-color;
      @include menu-hover-bg;
      a,
      .charrue-sidebar-menu-icon,
      .el-sub-menu__icon-arrow,
      .el-submenu__icon-arrow {
        @include menu-hover-text-color;
        /* @include menu-hover-bg; */
        text-decoration: none;
      }
    }
    a {
      @include common-menu-text-color;
      @include common-menu-bg;
      text-decoration: none;
      outline: none;
    }
    &.is-active {
      @include menu-active-text-color;
      @include menu-active-bg;
      a,
      .charrue-sidebar-menu-icon,
      .el-sub-menu__icon-arrow,
      .el-submenu__icon-arrow {
        @include menu-active-text-color;
      }
    }
  }

  .el-sub-menu,
  .el-submenu {
    &__title {
      text-align: left;
      @include common-menu-text-color;

      .charrue-sidebar-menu-icon {
        @include common-menu-text-color;
      }
      &:hover {
        @include menu-hover-text-color;
        @include menu-hover-bg;
        .charrue-sidebar-menu-icon,
        .el-sub-menu__icon-arrow,
        .el-submenu__icon-arrow {
          @include menu-hover-text-color;
        }
      }

      &__icon-arrow {
        margin-top: -4px;
      }
    }

    &.is-active {
      @include submenu-active-text-color;
      .el-menu {
        @include submenu-active-text-color;
      }
    }

    .icon {
      margin-right: 10px;
    }
  }

}
.el-menu--popup {
  padding: 0;
}