.cl-sidebar-root {
  --cl-sidebar-margin: 0 0 8px 0;

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgb(0 21 41 / 5%);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgb(0 21 41 / 5%);
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .cl-sidebar-placeholder {
    transition: all var(--cl-transition-duration) var(--cl-transition-timing-function);
  }

  .cl-sidebar-body {
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: all var(--cl-transition-duration) var(--cl-transition-timing-function);
    background: var(--cl-sidebar-bg);
    z-index: var(--cl-sidebar-z-index);
    box-shadow: var(--cl-sidebar-shadow);

    &.collapse {
      overflow: hidden;
    }

    > .cl-sidebar-menu-root {
      flex: 1;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .cl-sidebar__menu-title {
    margin: var(--cl-sidebar-margin);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
  }

  .el-menu {
    color: var(--cl-sidebar-text-color);
    background-color: var(--cl-sidebar-bg);
    --el-menu-text-color: var(--cl-sidebar-text-color);
    --el-menu-bg-color: var(--cl-sidebar-bg);

    border-right: 0;

    &--collapse {
      --cl-sidebar-margin: 0;

      .el-sub-menu__title,
      .el-submenu__title {
        .cl-sidebar__menu-title {
          display: none;
        }
      }
    }
  }

  .el-menu--collapse .cl-sidebar__submenu-icon-title ~ .el-sub-menu__icon-arrow,
  .el-menu--collapse .cl-sidebar__submenu-icon-title ~ .el-submenu__icon-arrow {
    display: none;
  }
}

.el-menu.el-menu--popup .cl-sidebar__menu-children {
  color: var(--cl-sidebar-text-color);
  background-color: var(--cl-sidebar-bg);
  --el-menu-text-color: var(--cl-sidebar-text-color);
  --el-menu-bg-color: var(--cl-sidebar-bg);
}

.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}

.cl-sidebar__menu-link {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  height: 100%;
  width: 100%;

  .el-menu-item {
    width: 100%;
  }
}

.cl-sidebar__menu-children {
  .el-menu-item {
    width: 100%;
    text-align: left;
    color: var(--cl-sidebar-text-color);
    --el-menu-text-color: var(--cl-sidebar-text-color);

    .cl-sidebar__menu-icon {
      margin-right: 10px;
    }

    .cl-sidebar__menu-icon,
    .el-sub-menu__icon-arrow,
    .el-submenu__icon-arrow {
      color: var(--cl-sidebar-text-color);
      --el-menu-text-color: var(--cl-sidebar-text-color);
    }
    &:hover {
      color: var(--cl-sidebar-hover-text-color);
      background-color: var(--cl-sidebar-hover-bg);
      --el-menu-hover-bg-color: var(--cl-sidebar-hover-bg);

      a,
      .cl-sidebar__menu-icon,
      .el-sub-menu__icon-arrow,
      .el-submenu__icon-arrow {
        color: var(--cl-sidebar-hover-text-color);

        text-decoration: none;
      }
    }
    a {
      color: var(--cl-sidebar-text-color);
      text-decoration: none;
      outline: none;
    }
    &.is-active {
      color: var(--cl-sidebar-active-text-color);
      background: var(--cl-sidebar-active-bg);

      a,
      .cl-sidebar__menu-icon,
      .el-sub-menu__icon-arrow,
      .el-submenu__icon-arrow {
        color: var(--cl-sidebar-active-text-color);
      }
    }
  }

  .el-sub-menu,
  .el-submenu {
    &__title {
      text-align: left;
      color: var(--cl-sidebar-submenu-text-color);

      .cl-sidebar__menu-icon {
        color: var(--cl-sidebar-submenu-text-color);
      }
      &:hover {
        color: var(--cl-sidebar-submenu-hover-text-color);
        background-color: var(--cl-sidebar-submenu-hover-bg);
        --el-menu-hover-bg-color: var(--cl-sidebar-submenu-hover-bg);

        .cl-sidebar__menu-icon,
        .el-sub-menu__icon-arrow,
        .el-submenu__icon-arrow {
          color: var(--cl-sidebar-submenu-hover-text-color);
        }
      }

      &__icon-arrow {
        margin-top: -4px;
      }
    }

    &.is-active {
      background-color: var(--cl-sidebar-submenu-active-bg);
      color: var(--cl-sidebar-submenu-active-text-color);

      .el-menu {
        color: var(--cl-sidebar-submenu-active-text-color);
        background-color: var(--cl-sidebar-submenu-active-bg);
        --el-menu-text-color: var(--cl-sidebar-submenu-active-text-color);
        --el-menu-bg-color: var(--cl-sidebar-submenu-active-bg);
      }
    }

    .cl-sidebar__menu-icon {
      margin-right: 10px;
    }
  }
}

.el-menu--popup {
  padding: 0;
}
