:root {
  --cl-root-height: 100vh;
  --cl-content-gap-x: 0px;
  --cl-content-gap-y: 0px;
  --cl-transition-duration: 0.3s;
  --cl-transition-timing-function: cubic-bezier(.645,.045,.355,1);

  --cl-collapse-trigger-height: var(--cl-header-height);
  --cl-collapse-trigger-padding: 0 16px;
  --cl-collapse-trigger-active-bg: rgba(0, 0, 0, 0.025);

  --cl-sidebar-z-index: 100;
  --cl-sidebar-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
  --cl-sidebar-bg: var(--el-menu-bg-color, transparent);
  --cl-sidebar-border-color: transparent;
  --cl-sidebar-text-color: var(--el-menu-text-color, #E5EAF3);

  --cl-sidebar-hover-text-color: var(--cl-sidebar-text-color);
  --cl-sidebar-hover-bg: var(--el-menu-hover-bg-color, #18222c);


  --cl-sidebar-active-text-color: var(--el-menu-active-color, #409eff);
  --cl-sidebar-active-bg: var(--el-menu-bg-color, transparent);

  --cl-sidebar-submenu-text-color: var(--cl-sidebar-text-color);
  --cl-sidebar-submenu-bg: var(--cl-sidebar-bg);

  --cl-sidebar-submenu-hover-text-color: var(--cl-sidebar-hover-text-color);
  --cl-sidebar-submenu-hover-bg: var(--cl-sidebar-hover-bg);

  --cl-sidebar-submenu-active-text-color: var(--cl-sidebar-active-text-color);
  --cl-sidebar-submenu-active-bg: var(--cl-sidebar-active-bg);

  --cl-fixed-header-z-index: 20;
  --cl-header-height: 50px;
  --cl-header-bg: #fff;
  --cl-header-text-color: #a6adb4;
  --cl-header-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);


  --cl-login-padding: 8px 12px;
  --cl-login-height: 32px;

  --cl-title-margin: 0 0 0 16px;
  --cl-title-font-size: 18px;
  --cl-title-color: var(--cl-header-text-color, #a6adb4);
}
