$charrue-header-height: 50px;
$charrue-title-font-size: 18px;
$charrue-header-text-color: #a6adb4;
$charrue-header-bg-color: #fff;

$charrue-sidebar-border-color: transparent;
$charrue-sidebar-text-color: #a6adb4;
$charrue-sidebar-bg-color: #001529;
$charrue-sidebar-hover-text-color: #fff;
$charrue-sidebar-hover-bg-color: #1890ff;
$charrue-sidebar-active-text-color: #fff;
$charrue-sidebar-submenu-active-bg-color: #000c17;

@mixin common-menu-text-color {
  color: var(--charrue-sidebar-text-color, $charrue-sidebar-text-color);
  --el-menu-text-color: var(--charrue-sidebar-text-color, $charrue-sidebar-text-color);
}
@mixin common-menu-bg {
  background-color: var(--charrue-sidebar-bg-color, $charrue-sidebar-bg-color);
  --el-menu-bg-color: var(--charrue-sidebar-bg-color, $charrue-sidebar-bg-color);
}

@mixin menu-hover-text-color {
  color: var(--charrue-sidebar-hover-text-color, $charrue-sidebar-hover-text-color);
}
@mixin menu-hover-bg {
  background-color: var(--charrue-sidebar-hover-bg-color, $charrue-sidebar-hover-bg-color);
  --el-menu-active-color: var(--charrue-sidebar-hover-bg-color, $charrue-sidebar-hover-bg-color);
}

@mixin menu-active-text-color {
  color: var(--charrue-sidebar-active-text-color, var(--charrue-sidebar-hover-text-color, $charrue-sidebar-hover-text-color));
}
@mixin menu-active-bg {
  background-color: var(--charrue-sidebar-active-bg-color, var(--charrue-sidebar-hover-bg-color, $charrue-sidebar-hover-bg-color));
}

@mixin submenu-active-text-color {
  background-color: var(--charrue-sidebar-submenu-active-bg-color, $charrue-sidebar-submenu-active-bg-color);
}
