$charrue-header-height: 50px;
$default-normal-text-color: #a6adb4;
$default-active-text-color: #fff;
$default-normal-aside-bg-color: #001529;
$default-active-aside-bg-color: #1890ff;
$default-active-submenu-bg-color: #000c17;

@mixin common-menu-text-color {
  color: var(--layout-aside-normal-text-color, $default-normal-text-color);
}
@mixin common-menu-text-bg {
  background-color: var(--layout-aside-content-bg-color, $default-normal-aside-bg-color);
}

@mixin hover-menu-text-color {
  color: var(--layout-aside-hover-text-color, var(--layout-aside-active-text-color, $default-active-text-color));
}
@mixin hover-menu-text-bg {
  background-color:var(--layout-aside-hover-bg-color,  var(--layout-aside-active-bg-color, $default-active-aside-bg-color));
}

@mixin active-menu-text-color {
  color: var(--layout-aside-active-text-color, $default-active-text-color);
}
@mixin active-menu-text-bg {
  background-color: var(--layout-aside-active-bg-color, $default-active-aside-bg-color);
}

@mixin active-submenu-text-color {
  background-color: var(--layout-aside-active-submenu-bg-color, $default-active-submenu-bg-color);
}

.charrue-layout-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: width 0.28s;
  z-index: 10;
  background-color: var(--layout-aside-content-bg-color, $default-normal-aside-bg-color);
  transition: all 0.3s;
  overflow-x: hidden;
  &-placeholder {
    transition: all 0.3s;
  }

  &.collapse {
    overflow: hidden;
  }

  .logo-container {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding: 8px 12px;
    transition: all 0.3s;
    background-color: var(--layout-aside-content-bg-color, $default-normal-aside-bg-color);
    overflow: hidden;
    img {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
      width: 32px;
      line-height: 32px;
    }
    h1 {
      color: var(--layout-aside-normal-text-color, $default-normal-text-color);
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      margin: 0 0 0 16px;
      font-weight: 600;
    }
  }
}

.charrue-layout-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--charrue-header-height, $charrue-header-height);
  overflow: hidden;
  position: relative;
  background: var(--layout-header-content-bg-color, --layout-aside-content-bg-color);
  color: var(--layout-header-normal-text-color, --layout-aside-normal-text-color);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .hamburger-container {
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background:  rgba(0, 0, 0, 0.025);
    }

    .hamburger {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
    }

    .hamburger.is-active {
      transform: rotate(180deg);
    }
  }

  .charrue-layout-header-main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .hamburger-container {
      line-height: var(--charrue-header-height, $charrue-header-height);
      padding: 0 16px;
      height: 100%;
      float: left;
      cursor: pointer;
      transition: background .3s;
      -webkit-tap-highlight-color: transparent;

      .hamburger-svg {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
      }
    }

    .charrue-layout-header-left,
    .charrue-layout-header-right {
      display: flex;
      align-items: center;
      padding-left: 24px;
      padding-right: 24px;
      height: 100%;
    }
  }

}

.charrue-layout-content {
  &-container {
    height: calc(100vh - var(--charrue-header-height, $charrue-header-height));
    width: 100%;
    position: relative;
    margin-top: var(--charrue-header-height, $charrue-header-height);
    overflow: auto;
    box-sizing: border-box;
  }
  &-header {
    flex: 0 0 auto;
  }
  &-footer {
    flex: 0 0 auto;
  }
  &-main {
    flex: 1;
  }

}
.fixed-header + .charrue-layout-content-main {
  margin-top: var(--charrue-header-height, $charrue-header-height);
}

.charrue-layout {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

  &-main {
    flex: 1;
    min-height: 100%;
    transition: margin-left 0.28s;
    position: relative;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    transition: width 0.28s;
  }

  .charrue-layout-sidebar {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: var(--layout-aside-border-color, transparent);
      z-index: 11;
    }


    .charrue-layout-sidebar-el-menu {
      width: 100%;
      box-sizing: border-box
    }
  }
}


.el-menu.el-menu--popup .charrue-layout-sidebar-el-menu-container {
  @include common-menu-text-color;
  @include common-menu-text-bg;
}

.charrue-layout-sidebar-el-menu-container {
  .el-menu {
    @include common-menu-text-color;
    @include common-menu-text-bg;
    border-right: 0;

    &--collapse {
      .el-submenu__title {
        .charrue-sidebar-menu-text {
          display: none;
          margin-left: 0;
        }
      }
    }
  }

  .el-menu-item {
    width: 100%;
    text-align: left;
    @include common-menu-text-color;
    .charrue-sidebar-menu-icon, .el-submenu__icon-arrow  {
      @include common-menu-text-color;
    }
    &:hover {
      @include hover-menu-text-color;
      @include hover-menu-text-bg;
      a, .charrue-sidebar-menu-icon, .el-submenu__icon-arrow  {
        @include hover-menu-text-color;
        // @include hover-menu-text-bg;
        text-decoration: none;
      }
    }
    a {
      @include common-menu-text-color;
      @include common-menu-text-bg;
      text-decoration: none;
      outline: none;
    }
    &.is-active {
      @include active-menu-text-color;
      @include active-menu-text-bg;
      a, .charrue-sidebar-menu-icon, .el-submenu__icon-arrow {
        @include active-menu-text-color;
      }
    }
  }

  .el-submenu {
    &__title {
      text-align: left;
      @include common-menu-text-color;

      .charrue-sidebar-menu-icon {
        @include common-menu-text-color;
      }
      &:hover {
        @include hover-menu-text-color;
        @include hover-menu-text-bg;
        .charrue-sidebar-menu-icon, .el-submenu__icon-arrow {
          @include hover-menu-text-color;
        }
      }

      &__icon-arrow {
        margin-top: -4px;
      }
    }

    &.is-active {
      @include active-submenu-text-color;
      .el-menu {
        @include active-submenu-text-color;
      }
    }

    .icon {
      margin-right: 10px;
    }
  }

  .el-menu-item {
    .icon {
      margin-right: 10px;
    }
  }

  .charrue-sidebar-menu-text {
    margin-left: 8px;
  }

  .menu-router-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .el-menu--collapse .submenu-title-with-icon ~ .el-submenu__icon-arrow {
    display: none;
  }
}

.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
